extends layout
block content
    .row
      .header(style='background-color: #ffe6cc;')
       h1 Edit a book
        .formhold
          each row in res1
           form(method="post")
              fieldset
                br
                label(for="newtitle") New Book Title:
                input(name="newtitle", type="text", value="#{row.Title}", required='')
                br
                br
                label(for="newauthor") New Author:
                input(name="newauthor", type="text", value="#{row.Author}", required='')
                br
                br
                label(for="newimage") New Image:
                input(name="newimage", type="text", value="#{row.Image}", required='')
                br
                br
                label(for="newdescription") New 1 line book description:
                input(name="newdescription", type="text", value="#{row.Description}", required='')
                br
                br
                label(for="newcategory") New Book color:
                input(name="newcategory", type="text", value="#{row.Category}", required='')
                br
                br
               button.button2(type="submit") Edit