extends layout
block content

     .row
      .header(style='background-color: rgba(255, 230, 204, 0.8);')
        h1 It's not easy being green, unless you are reading one of these...
      .holder
       .grid-container
           each row in res4
            .item
             h1.itemtitle #{row.Title}
             p.itemp #{row.Author}
             img.pimage(src="#{row.Image}", alt="#{row.Image}") 
             a.button(href="/item/#{row.Id}") View book 