extends layout
block content
     
     .header(style='background-color: rgba(255, 230, 204, 0.8);')
       h1 Here are the books in CC's Book Case 
             
       .row   
        .holder
          form.form2(method="post" action="search")
           input.input2(name="search", type="text", Placeholder="I'm searching for..." ) 
           button.button2(type="submit") Find what you're looking for  
                      
         .grid-container
           each row in res1
            .item
             h1.itemtitle #{row.Title}
             p.itemp #{row.Author}
             img.pimage(src="#{row.Image}", alt="#{row.Image}") 
             a.button(href="/item/#{row.Id}") View book
             
      