extends layout
block content
     
     .row
      .header(style='background-color: rgba(255, 230, 204, 0.8);')
       h1 Here's some books you can find in CC's Book Case 
       .holder
          form(method="post" action="search" style="font-size: 20px; color:black; background-color: rgba(255, 230, 204, 0.8); width: 90%; margin:auto;")
           input(name="search", type="text", Placeholder="I'm searching for...") 
           button.button(type="submit") Find what you're looking for  
                      
          .grid-container
           each row in res1
            .item
             h1.itemtitle #{row.Title}
             p.itemp #{row.Author}
             img.pimage(src="#{row.Image}", alt="#{row.Image}") 
             a.button(href="/item/#{row.Id}") View book
             
      